aiohttp==3.7.4.post0
asgiref==3.4.1
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.9.3
bootstrap4==0.1.0
boto==2.49.0
boto3==1.18.8
botocore==1.21.8
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.3
Django==3.2.5
django-autotranslate==1.2.0
django-bootstrap==0.2.4
django-bootstrap4==3.0.1
django-crispy-forms==1.12.0
django-filter==2.4.0
django-phonenumber-field==5.2.0
django-storages==1.11.1
future==0.18.2
futures==3.1.1
geoip2==4.2.0
goslate==1.5.1
gunicorn==20.1.0
idna==3.2
jmespath==0.10.0
maxminddb==2.0.3
multidict==5.1.0
phonenumbers==8.12.28
Pillow==8.3.1
polib==1.1.1
python-dateutil==2.8.2
pytz==2021.1
requests==2.26.0
s3transfer==0.5.0
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
timedelta==2020.12.3
timezones==2.0.8
typing-extensions==3.10.0.0
urllib3==1.26.6
yarl==1.6.3
