{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<!-- Spacer / End-->
    <!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>{% trans "About The StartUp" %}</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
						<li>{% trans "About Us" %}</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		
		<!-- Content -->
		<div class="col-xl-8 col-lg-8 content-right-offset ">

			<div class="single-page-section">
				<p>
					
				{% trans "EazyMax is a new startup ,  It allows you to find electricians, housekeepers, painters and so on, also any worker can post a job there and get a chance to find a huge opportunity . I got the idea when my mom needed a dishwasher and she didn't find anyone, so I decided to solve this problem by making a startup called Eazymax. " %}
				</p>
				<p>
				{% trans "We are doing our best to make our city Tangier (And all the cities in the future) a better place, By helping citizens getting fast and good home services and at the same time creating new jobs opportunities." %}
				</p>
				<p>
				{% trans "We are welcoming All respectful and well-behaved Electricians, Plumbers, painters, Carpenter, Housekeeper, etc. To work with us and get clients all around Tangier ( And The whole country in the future) ." %}
				</p>

	
			</div>
		</div>
		

		<!-- Sidebar -->
		<div class="col-xl-4 col-lg-4">
			<div class="sidebar-container">
				<!-- Widget -->
				<div class="sidebar-widget">
					<h3>{% trans "Social Accounts" %}</h3>
					<div class="freelancer-socials margin-top-25">
						<ul>
							<li>
								<a href="#" title="Facebook" data-tippy-placement="top" target="_blank">
									<i class="fab fa-facebook-f"></i></i>
								</a>
							</li>
							<li>
								<a href="https://www.instagram.com/eazymaax/" target="_blank" title="Instagram" data-tippy-placement="bottom" data-tippy-theme="light">
									<i class="fab fa-instagram"></i></i>
								</a>
							</li>
							<li>
								<a href="https://www.linkedin.com/company/eazymax/" target="_blank" title="LinkedIn" data-tippy-placement="bottom" data-tippy-theme="light">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->
{% endblock %}