{% extends 'base.html' %}
{% load i18n %}

{% block content %}
      <!-- Titlebar
  ================================================== -->
  <div class="single-page-header" data-background-image="{{object.image.url}}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="single-page-header-inner">
            <div class="left-side">
              <div class="header-image"><img src="{{object.image.url}}" alt=""></div>
              <div class="header-details">
                <h1><b>{{object.title}}</b></h1>
                <br>
                <ul>
                  <li><a href="{% url 'profile' object.poster.id %}"><i class="fa fa-user" style="font-size:15px"></i> {{object.poster}}</a></li>
                  <li><img class="flag" src="" alt=""> <i class="fas fa-map-marker-alt"></i> {% trans "Morocco , Tangier" %}</li>
                  <li><i class="fas fa-clock"></i> {{object.date_posted|date:"F d, Y"}}</li>
                  {% if object.hot  %}<li><div  class="verified-badge-with-title">{% trans "Verified" %}</div></li>{% endif %}
                  {% if object.poster == user %}
                        <a href="{% url 'post-update' object.id %}" style="color: white;background-color:rgb(56, 196, 56) ; padding: 3px; border-radius: 5px;">{% trans "Update" %}</a>
                        <a href="{% url 'post-delete' object.id %}" style="color: white;background-color: red; padding: 3px; border-radius: 5px;">{% trans "Delete" %}</a>
                  {% endif %}
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Page Content
  ================================================== -->
  <div class="container">
    <div class="row">
      
      <!-- Content -->
      <div class="col-xl-8 col-lg-8 content-right-offset">

        <div class="single-page-section">
            {% if messages %}
              {% for message in messages%}
                <h2 style="color: green;">{{message}}</h2>
                <br>
              {% endfor %}
            {% endif %}
          <h3 class="margin-bottom-25">{% trans "Description" %}</h3>
          <p>{{object.description}}</p>
        </div>
        <a class="apply-now-button popup-with-zoom-anim" href="tel:+212{{object.phone_number}}">0{{object.phone_number}} <i class="fa fa-phone"></i></a>
        <br>

        
        <h2>{% trans 'Feedbacks' %}:</h2>
        {% if reviews %}
        <a href="{% url 'post-review' object.id %}">+ {% trans "Add a feedback" %}</a>
        <br>
        <br>
          {% for review in reviews %} 
          <br>
              <div  style="background-color: #E9E9E9; padding: 10px; border-radius: 15px;" class="media-body">
                <div class="well well-lg">
                  <a class="pull-left" href="{% url 'profile' review.user.profile.id %}">
                    <img style="border-radius: 15px;" src="{{review.user.profile.image.url}}" width="30"> <i class="fas fa-clock"></i> {{review.date|date:"F d, Y"}}
                  </a>
                  <br>
                  <br>
                    <h5 class="media-heading text-uppercase reviews"><b>{{review.user.username}}</b></h5>
                    <a style="width: 60px;" class="button" id="reply">{{review.rate}}/5</a>
                    <textarea readonly name="" id="" cols="1" rows="1">{{review.text}}</textarea>
                </div>              
              </div>
          {% endfor %}
        {% else %}
        <br>
        <h2> {% trans "There is no feedback" %} </h2>
        <a href="{% url 'post-review' object.id %}">+ {% trans "Add a feedback" %}</a>
        {% endif %}
        <br>
        <hr>
        <br>


        <div class="single-page-section">
          <h2 class="margin-bottom-25">{% trans "Other Jobs" %} :</h2>  
          <!-- Listings Container -->
          <div class="listings-container grid-layout">

              <!-- Job Listing -->
              {% for post in featured_posts %}
                <a href="{% url 'post-detail' post.id %}" class="job-listing">

                  <!-- Job Listing Details -->
                  <div class="job-listing-details">
                    <!-- Logo -->
                    <div class="job-listing-company-logo">
                      <img src="{{post.image.url}}" alt="">
                    </div>

                    <!-- Details -->
                    <div class="job-listing-description">
                      <h4 class="job-listing-company">{{post.category}}</h4>
                      <h2 class="job-listing-title"><b>{{post.title}} <i class="fa fa-check-circle" style="font-size:22px; color: #e0c040;"></i> </b></h2>
                    </div>
                  </div>

                  <!-- Job Listing Footer -->
                  <div class="job-listing-footer">
                    <ul>
                      <li><i class="fas fa-map-marker-alt"></i>{% trans "Tangier , Morocco" %}</li>
                      <li><i class="fas fa-clock"></i> {{post.date_posted|date:"F d, Y"}}</li>
                    </ul>
                  </div>
                </a>
              {% endfor %}
              {% for post in posts %}
              <a href="{% url 'post-detail' post.id %}" class="job-listing">

                <!-- Job Listing Details -->
                <div class="job-listing-details">
                  <!-- Logo -->
                  <div class="job-listing-company-logo">
                    <img src="{{post.image.url}}" alt="">
                  </div>

                  <!-- Details -->
                  <div class="job-listing-description">
                    <h4 class="job-listing-company">{{post.category}}</h4>
                    <h2 class="job-listing-title"><b>{{post.title}} </b></h2>
                  </div>
                </div>

                <!-- Job Listing Footer -->
                <div class="job-listing-footer">
                  <ul>
                    <li><i class="fas fa-map-marker-alt"></i>{% trans "Tangier , Morocco" %}</li>
                    <li><i class="fas fa-clock"></i> {{post.date_posted|date:"F d, Y"}}</li>
                  </ul>
                </div>
              </a>
            {% endfor %}
            </div>
            <!-- Listings Container / End -->

          </div>
      </div>
      

      <!-- Sidebar -->
      <div class="col-xl-4 col-lg-4">
        <div class="sidebar-container">            
          <!-- Sidebar Widget -->
          <div class="sidebar-widget">
            <div class="job-overview">
              <div class="job-overview-headline">{% trans "Job Summary" %}</div>
              <div class="job-overview-inner">
                <ul>
                  <li>
                    <span>{% trans "Poster" %}</span>
                    <h3><a href="{% url 'profile' object.poster.id %}"><i class="fa fa-user"></i> {{object.poster}}</a></h3>
                  </li>
                  <li>
                    <span>{% trans "Location" %}</span>
                    <h5><i class="fas fa-map-marker-alt"></i>{% trans "Tangier , Morocco" %}</h5>
                  </li>
                  <li>
                    <span>{% trans "Date Posted" %}</span>
                    <h5><i class="fas fa-clock"></i> {{object.date_posted|date:"F d, Y"}}</h5>
                  </li>
                  <li>
                    <span>{% trans "Category" %}</span>
                    <h5><i class="fa fa-wrench"></i> {{object.category}}</h5>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

{% endblock %}
