{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}


    <!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>{% trans 'Register' %}</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
						<li>{% trans 'Sign Up' %}</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-5 offset-xl-3">


			<div class="login-register-page">
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>{% trans "We're glad that you will register" %} ;)</h3>
					<span>{% trans 'Already have an account' %} ? <a href="{% url 'login' %}">{% trans 'Login' %} ;)</a></span>
				</div>
					
				<!-- Form -->
				<form method="post" id="login-form">
                    {% csrf_token %}
					<div class="">
                        {{form|crispy}}
                    </div>
				</form>
				<br>
				<!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" form="login-form">{% trans 'Register' %} <i class="fas fa-sign-in-alt"></i></button>
				
			</div>

		</div>
	</div>
</div>

<!-- spaver -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->

{% endblock %}