{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

    <!-- Spacer -->

<!-- Spacer / End-->
    <!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>{% trans 'Reset Password' %}</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
						<li>{% trans 'Reset Password' %}</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-5 offset-xl-3">


			<div class="login-register-page">
				<!-- Welcome Text -->

				<div class="welcome-text">
					<h3>{% trans "Write Your Email To Reset You Password" %}!</h3>
				</div>

					
				<!-- Form -->
				<form method="post" id="login-form">
                    {% csrf_token %}
					<div class="">
                        {{form|crispy}}
                    </div>
				</form>
				<button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" form="login-form">{% trans 'Reset' %} </button>

				<!-- Button -->
		
				
			</div>

		</div>
	</div>
</div>

<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->

{% endblock %}