{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<!-- Spacer / End-->
    <!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>{% trans 'Checking The Email' %}</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
						<li>{% trans 'Checking The Email' %}</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-5 offset-xl-3">


			<div class="login-register-page">
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>{% trans "We've sent you the link to your email to change your password" %}</h3>
				</div>
					
				<!-- Button -->
				<a href="https://mail.google.com/mail/u/0/" target="__blank" class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" form="login-form">{% trans 'Go To Gmail' %}<i class="icon-material-outline-arrow-right-alt"></i></a>
			</div>

		</div>
	</div>
</div>

<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->
{% endblock %}