{% load static %}
{% load i18n %}


<div id="footer">
	<!-- Footer Top Section -->
	<div class="footer-top-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">

					<!-- Footer Rows Container -->
					<div class="footer-rows-container">
						
						<!-- Left Side -->
						<div class="footer-rows-left">
							<div class="footer-row">
								<div class="footer-row-inner footer-logo">
									<img src="{% static 'img/logo.png' %}" alt="">
								</div>
							</div>
						</div>
						
						<!-- Right Side -->
						<div class="footer-rows-right">

							<!-- Social Icons -->
							<div class="footer-row">
								<div class="footer-row-inner">
									<ul class="footer-social-links">
										<li>
											<a href="#" title="Facebook" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li>
											<a href="#" title="Instagram" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="fab fa-instagram"></i></i>
											</a>
										</li>
										<li>
											<a href="#" title="Twitter" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li>
											<a href="#" title="LinkedIn" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="fab fa-linkedin-in"></i>
											</a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
							</div>
							
							<!-- Language Switcher -->
							<div class="footer-row">
								<div class="footer-row-inner">
									<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
										{% get_current_language as LANGUAGE_CODE %}                                         
										{% if LANGUAGE_CODE == 'ar' %}
											<i class="fas fa-language"></i>
											<button style="color: black;background-color: white; border-radius: 8px;padding: 12px;" type='submit' name='language' value='fr'>
												Français
											</button>
										{% else %}
											<button style="color: black;background-color: white; border-radius: 8px;padding: 12px;" type='submit' name='language' value='ar'>
												العربية
											</button>
											<i class="fas fa-language"></i>
										{% endif %}
									</form>
								</div>
							</div>
						</div>

					</div>
					<!-- Footer Rows Container / End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Top Section / End -->

	<!-- Footer Middle Section -->
	<div class="footer-middle-section">
		<div class="container">
			<div class="row">

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>{% trans "Who wants a worker" %}</h3>
						<ul>
							<li><a href="{% url 'jobs' %}"><span>{% trans "Browse Jobs" %}</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>{% trans "Who wants to work" %}</h3>
						<ul>
							<li><a href="{% url 'memberships' %}"><span>{% trans "Membership" %}</span></a></li>
							<li><a href="{% url 'post_job' %}"><span>{% trans "Post a Job" %}</span></a></li>

						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>{% trans "Helpful Links" %}</h3>
						<ul>
							<li><a href="{% url 'contact' %}"><span>{% trans "Contact" %}</span></a></li>
							<li><a href="{% url 'policy' %}"><span>{% trans "Privacy Policy" %}</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>{% trans 'Account' %}</h3>
						<ul>
							{% if user.is_authenticated %}
								<li><a href="{% url 'profile' user.profile.id %}"><span>{% trans "My Account" %}</span></a></li>
							{% else %}
								<li><a href="{% url 'login' %}"><span>{% trans "Log In" %}</span></a></li>
							{% endif %}
						</ul>
					</div>
				</div>

				{% if not user.is_authenticated %}
				<div class="col-xl-4 col-lg-4 col-md-12">
					<h3><i class="fas fa-registered"></i> {% trans "Sign Up To Post A Job" %}</h3>
					<p>{% trans "Once you register you get allowed to post a job" %}</p>
					<a href="{% url 'register' %}" class="button full-width button-sliding-icon ripple-effect margin-top-10">{% trans "Register" %}</i></a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	<!-- Footer Middle Section / End -->
	
	<!-- Footer Copyrights -->
	<div class="footer-bottom-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					{% trans "© 2021 <strong>EazyMax</strong>. All Rights Reserved." %}
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Copyrights / End -->

</div>