{% load static %}
{% load i18n %}

<div id="footer">
	<!-- Footer Top Section -->
	<div class="footer-top-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">

					<!-- Footer Rows Container -->
					<div class="footer-rows-container">
						
						<!-- Left Side -->
						<div class="footer-rows-left">
							<div class="footer-row">
								<div class="footer-row-inner footer-logo">
									<img src="{% static 'img/logo.png' %}" alt="">
								</div>
							</div>
						</div>
						
						<!-- Right Side -->
						<div class="footer-rows-right">

							<!-- Social Icons -->
							<div class="footer-row">
								<div class="footer-row-inner">
									<ul class="footer-social-links">
										<li>
											<a href="#" title="Facebook" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-facebook-f"></i>
											</a>
										</li>
										<li>
											<a href="#" title="Twitter" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-twitter"></i>
											</a>
										</li>
										<li>
											<a href="#" title="Google Plus" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-google-plus-g"></i>
											</a>
										</li>
										<li>
											<a href="#" title="LinkedIn" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-linkedin-in"></i>
											</a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
							</div>
							
							<!-- Language Switcher -->
							<div class="footer-row">
								<div class="footer-row-inner">
									<h2> <span style="color:rgb(255, 255, 73)">0694920029</span> </h2>
								</div>
							</div>
						</div>

					</div>
					<!-- Footer Rows Container / End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Top Section / End -->

	<!-- Footer Middle Section -->
	<div class="footer-middle-section">
		<div class="container">
			<div class="row">

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>{% trans "Who wants a worker" %}</h3>
						<ul>
							<li><a href="{% url 'jobs' %}"><span>{% trans "Browse Jobs" %}</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>{% trans "Who wants to work" %}</h3>
						<ul>
							<li><a href="#"><span>{% trans "Membership" %}</span></a></li>
							<li><a href="{% url 'post_job' %}"><span>{% trans "Post a Job" %}</span></a></li>

						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>{% trans "Helpful Links" %}</h3>
						<ul>
							<li><a href="#"><span>{% trans "Contact" %}</span></a></li>
							<li><a href="#"><span>{% trans "Privacy Policy" %}</span></a></li>
							<li><a href="#"><span>{% trans "Terms of Use" %}</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>{% trans 'Account' %}</h3>
						<ul>
							{% if user.is_authenticated %}
								<li><a href="[% url 'profile' user.profile.id %}"><span>{% trans "My Account" %}</span></a></li>
							{% else %}
								<li><a href="{% url 'login' %}"><span>{% trans "Log In" %}</span></a></li>
							{% endif %}
						</ul>
					</div>
				</div>

				<!-- Newsletter -->
				<div class="col-xl-4 col-lg-4 col-md-12">
					<h3><i class="icon-feather-mail"></i> {% trans "Sign Up For a Newsletter" %}</h3>
					<p>Weekly breaking news, analysis and cutting edge advices on job searching.</p>
					<a href="{% url 'register' %}" class="button full-width button-sliding-icon ripple-effect margin-top-10">{% trans "Register" %}</i></a>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Middle Section / End -->
	
	<!-- Footer Copyrights -->
	<div class="footer-bottom-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					{% trans "© 2021 <strong>EazyMax</strong>. All Rights Reserved." %}
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Copyrights / End -->

</div>