{% load static %}
{% load i18n %}
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
  rel="stylesheet"
/>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<!-- Container wrapper -->
	<div class="container-fluid">
	  <!-- Toggle button -->
	  <button
		class="navbar-toggler"
		type="button"
		data-mdb-toggle="collapse"
		data-mdb-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent"
		aria-expanded="false"
		aria-label="Toggle navigation"
	  >
		<i class="fas fa-bars"></i>
	  </button>
  
	  <!-- Collapsible wrapper -->
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<!-- Navbar brand -->
		<a class="navbar-brand mt-2 mt-lg-0" href="{% url 'home' %}">
		  <img
			src="{% static 'img/logo.png' %}"
			height="45"
			alt=""
			loading="lazy"
		  />
		</a>
		<!-- Left links -->
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'home' %}">{% trans 'Home' %}</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'jobs' %}">{% trans 'Find Workers' %}</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">{% trans 'Contact Us' %}</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'about' %}">{% trans 'About Us' %}</a>
		  </li>
		  <li class="nav-item mx-3">
			<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
				{% get_current_language as LANGUAGE_CODE %}                                         
				{% if LANGUAGE_CODE == 'ar' %}
					<i class="fas fa-language"></i>
					<button style="color: white;background-color: black; border-radius: 5px;padding: 8px;" type='submit' name='language' value='fr'>
						Français
					</button>
				{% else %}
					<button style="color: white;background-color: black; border-radius: 5px;padding: 8px;" type='submit' name='language' value='ar'>
						العربية
					</button>
					<i class="fas fa-language"></i>
				{% endif %}
			</form>
		   </li>
		</ul>

		<!-- Left links -->
	  </div>
	  <!-- Collapsible wrapper -->
  
	  <!-- Right elements -->
		<div class="d-flex align-items-center">
			{% if user.is_authenticated %}
			<a href="{% url 'post_job' %}">
				<button type="button" style="background-color: #e0c040; color: white;" class="btn btn-md me-3">
				{% trans "Post A Job" %}
				</button>
			</a>
			<!-- Avatar -->
			<a
			class="dropdown-toggle d-flex align-items-center hidden-arrow"
			href="#"
			id="navbarDropdownMenuLink"
			role="button"
			data-mdb-toggle="dropdown"
			aria-expanded="false"
			>
			<img
				src="{{user.profile.image.url}}"
				class="rounded-circle"
				height="55"
				alt=""
				loading="lazy"
			/>
			</a>
			<ul
			class="dropdown-menu dropdown-menu-end"
			aria-labelledby="navbarDropdownMenuLink"
			>
			<li>
				<a class="dropdown-item" href="{% url 'profile' user.profile.id %}"><i class="far fa-address-book"></i> {% trans "My posts" %}</a>
			</li>
			<li>
				<a class="dropdown-item" href="{% url 'profile_edit' user.profile.id %}"><i class="fas fa-cog"></i> {% trans "Settings" %}</a>
			</li>
			<li>
				<a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> {% trans "Logout" %}</a>
			</li>
			</ul>
			
		</div>
		{% else %}
		<div class="d-flex align-items-center">
			<a href="{% url 'login' %}">
				<button type="button" style="color:#e0c040 ;" class="btn btn-lg btn-link px-3 me-2">
				{% trans "Login" %}
				</button>
			</a>
			<a href="{% url 'register' %}">
				<button type="button" style="background-color: #e0c040; color: white;" class="btn btn-lg me-3">
				{% trans "Register" %}
				</button>
			</a>
		</div> 
		{% endif %}
	  <!-- Right elements -->
	</div>
	<!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

  <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
></script>